<a href="https://colab.research.google.com/github/Seyjuti8884/EDA/blob/main/Amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("amazon.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
dtypes: object(16)
memory usage: 183.2+ KB

In [8]:
df.isnull().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [9]:
df.fillna("0",inplace = True)

In [10]:
df.isnull().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

3. Distribution of Discounted Prices vs Actual Prices

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
plt.hist(amazon_data_cleaned['discounted_price'], bins=20, alpha=0.7, label='Discounted Price')
plt.hist(amazon_data_cleaned['actual_price'], bins=20, alpha=0.7, label='Actual Price')
plt.title('Distribution of Discounted vs Actual Prices', fontsize=16)
plt.xlabel('Price', fontsize=14)
plt.ylabel('Frequency', fontsize=14)
plt.legend()
plt.show()

4. Average Discount Percentage Across Categories

In [ ]:
df['discount_percentage'] = pd.to_numeric(df['discount_percentage'], errors='coerce')

# Calculate average discount percentage by category
df_cleaned_discount = df.dropna(subset=['category', 'discount_percentage'])
if not df_cleaned_discount.empty:
    average_discount_by_category = df_cleaned_discount.groupby('category')['discount_percentage'].mean()
    print("\nAverage Discount Percentage by Category:")
    print(average_discount_by_category)
else:
    print("\nNo valid data available for discount percentage calculations.")

5. Most Popular Product Names

In [ ]:
df_cleaned_names = df.dropna(subset=['product_name'])

# Find top 5 most popular product names
if not df_cleaned_names.empty:
    popular_products = df_cleaned_names['product_name'].value_counts().head(5)
    print("\nMost Popular Product Names:")
    print(popular_products)
else:
    print("\nNo valid data available for product name calculations.")

6. Most Popular Product Keywords

In [ ]:
from collections import Counter

keywords = df['product_name'].str.split().explode().value_counts()
print("Most Popular Product Keywords:")
print(keywords.head(10))

7. Most Popular Product Reviews

In [ ]:
popular_reviews = df['review_content'].value_counts().head(5)
print("Most Popular Product Reviews:")
print(popular_reviews)

8. Correlation Between Discounted Price and Rating

In [ ]:
correlation = df[['discounted_price', 'rating']].corr()
print("Correlation Between Discounted Price and Rating:")
print(correlation)

sns.scatterplot(x='discounted_price', y='rating', data=df)
plt.title("Discounted Price vs Rating")
plt.xlabel("Discounted Price")
plt.ylabel("Rating")
plt.show()

9. Top 5 Categories Based on Highest Ratings

In [ ]:
top_categories_by_rating = df.groupby('category')['rating'].mean().sort_values(ascending=False).head(5)
print("Top 5 Categories Based on Highest Ratings:")
print(top_categories_by_rating)

10. Potential Areas for Improvement

In [ ]:
# Identifying categories with the lowest average ratings
lowest_rated_categories = df.groupby('category')['rating'].mean().sort_values().head(5)

# Products with high discounts but low ratings
low_rating_high_discount = df[(df['rating'] < 3) & (df['discount_percentage'] > 50)]

print("Lowest Rated Categories:")
print(lowest_rated_categories)

print("\nProducts with High Discounts but Low Ratings:")
print(low_rating_high_discount[['product_name', 'category', 'rating', 'discount_percentage']])